html,
body {
  padding: 0;
  margin: 0;
}

.wrap {
  font: 12px Arial, san-serif;
}

/* Estilos para los campos de entrada de texto */
input[type="text"] {
  padding: 10px;
  border: 2px solid #ff8c00; /* Borde naranja */
  border-radius: 5px;
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Color de texto negro */
  font-size: 16px;
  margin-bottom: 10px; /* Espacio inferior */
}

/* Estilos adicionales para resaltar cuando enfocado */
input[type="text"]:focus {
  border-color: #ff6f00; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px #ff6f00; /* Agrega una sombra al enfocar */
}

h1.likert-header {
  padding-left: 4.25%;
  margin: 20px 0 0;
}

form .statement {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom: 10px;
}

form .likert:last-of-type {
  border-bottom: 0;
}

form .likert:before {
  content: '';
  position: relative;
  top: 11px;
  left: 9.5%;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

form .likert:last-of-type {
  border-bottom: 0;
}

form .likert:before {
  content: '';
  position: relative;
  top: 30px;
  left: 4%;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 80%;
}

.submit-button {
  background-color: #ffae00;  /* Color naranja */
  color: #fff; /* Texto en color blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px; /* Espacio entre el test y el botón */
  display: block; /* Hace que el botón ocupe todo el ancho disponible */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
}

/* Modificar estilos para la lista desordenada (ul) */
form ul.likert {
  width: 100%;
  /* Ancho completo */
  margin: 0;
  /* Eliminar el margen predeterminado */
  padding: 0;
  /* Eliminar el relleno predeterminado */
}

/* Modificar estilos para los elementos de lista (li) dentro de ul.likert */
form ul.likert li {
  display: inline-block;
  width: 12%;
  text-align: center;
  vertical-align: top;
}

/* Modificar estilos para los inputs de radio dentro de ul.likert */
form ul.likert li input[type=radio] {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;
}

/* Modificar estilos para las etiquetas dentro de ul.likert */
form ul.likert li label {
  text-align: center;
  width: 100%;
}

/* Estilos para la ventana emergente */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 80%;
  text-align: center;
  display: none;
  /* Ocultar la ventana emergente por defecto */
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 10px;
}

.close-btn {
  background-color: #ffae00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: #555;
}

/*************************/
